@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Arial, sans-serif, Inter, system-ui, Avenir;
  line-height: 1.5;
  font-weight: 400;
  background-color: rgba(30, 64, 175, 1);
  overflow-x: hidden;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-demokrat {
  background: rgba(75, 99, 255, 0.4); /* Ubah nilai alpha (0.8 di sini) sesuai kebutuhan Anda */
  background-image: url('./assets/img/logo-demokrat.png');
  background-size: cover; /* Atur agar gambar background mengikuti ukuran kontainer */
  background-repeat: no-repeat; /* Hindari pengulangan gambar jika ukurannya lebih kecil dari kontainer */
  background-position: center center;
/*  opacity: 0.6;*/
  /* Posisikan gambar di tengah kontainer */

}
